#open-chart{
    color: {{NEW_COLOR}};
    background-color: {{NEW_BTN_COLOR}};
    border-color: {{NEW_BRD_COLOR}};
    border-radius: {{NEW_BTN_RAD}}px;
    {{NEW_BTN_MAR}}
}
#open-chart:hover{
    color: {{NEW_HV_COLOR}};
    background-color: {{NEW_BTN_HV_COLOR}};
    border-color: {{NEW_BRD_HV_COLOR}};
}
#seigi-price-history-modal.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -moz-transform: translate(0);
    -webkit-transform: translate(0);
    -o-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
}
#seigi-price-history-modal.modal:before {
    display: none; /* Hidden by default */
}
#seigi-price-history-modal .modal-content {
    position: relative;
    background-color: #fff;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    visibility: visible;
}
#seigi-price-history-modal .close {
    color: #000;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    padding: 5px 10px;
    right: 0;
}
#seigi-price-history-modal #chart-name {
    font-size: 18px;
    font-weight: bold;
}
#seigi-price-history-modal .close:hover, #seigi-price-history-modal .close:focus {
    color: #333;
    text-decoration: none;
}
#seigi-price-history-modal .modal-header {
    padding: 2px 16px;
    text-align: center;
    margin: 0;
    border: 0;
    justify-content: center;
    flex-direction: column;
}
#seigi-price-history-modal .modal-header span{
    white-space: nowrap;
}
#seigi-price-history-modal .modal-body {
    padding: 2px 16px;
    margin: 0;
    justify-content: center;
    max-width: unset;
    max-height: unset;
}
#seigi-price-history-modal .modal-footer {
    padding: 6px 16px 0;
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
    margin: 0;
    border: 0;
    justify-content: center;
    flex-direction: column;
}
#seigi-price-history-modal .modal-footer p{
    font-size: 1.2em;
    margin: 8px 0;
}
#seigi-price-history-modal input{
    border: 1px solid #efefef;
    padding: 4px 10px;
    margin: 8px 6px;
}
#lowest-price{
    width: 100%;
    margin: 10px 0;
}

#lowest-price.ext-visibility{
    font-size: 15px;
}
.ext-visibility .sph-line{
    display: block;
}
.ext-visibility .sph-discount{
    color: #333;
    font-size: 15px;
    font-weight: bold;
    padding: 0 5px;
}
.ext-visibility .sph-discount::before{
    content: '+';
}
.ext-visibility .sph-discount.red{
    color: #cc0707;
}
.ext-visibility .sph-discount.red::before{
    content: '';
}

#lowest-price.ext-visibility .price{
    font-size: 15px;
    font-weight: bold;
    color: #333;
}

.sph-open-chart{
    cursor: pointer;
}
.sph-short-text{
    position: relative;
    text-align: center;
    z-index: 1;
}
.sph-tooltip {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    border: 1px solid #3c3c3c;
    background: white;
    padding: 5px 8px;
    border-radius: 8px;
    z-index: 2;
    width: 200%;
    /*quarter of every poing over 100% width*/
    transform: translateX(-25%);
}
.sph-tooltip:before{
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #3c3c3c transparent;
}
.sph-short-text:hover .sph-tooltip{
    display: block;
}
