

.superpack_product{margin:0;min-width:290px;padding:0;}
.superpack_product a, .superpack_product button{-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-ms-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;}
.superpack_product .d-flex{background:#ffffff;box-shadow:2px 2px 8px 0 rgba(0,0,0,.2);display:flex;flex-wrap:wrap;-moz-box-shadow:2px 2px 8px 0 rgba(0,0,0,.2);-webkit-box-shadow:2px 2px 8px 0 rgba(0,0,0,.2);}
.superpack_product .d-flex > *{border:0;flex:0 0 100%;margin:0;padding:0;}
.superpack_product .d-flex > .prod_price{align-items:center;border-top:1px solid #ebebeb;display:flex;justify-content:center;padding:15px 20px;text-align:center;}
.superpack_product .d-flex > .prod_price h5{color:#232323;font-size:20px;font-weight:700;margin:0;padding:0 0 22px;text-shadow:none;text-transform:none;}
.superpack_product .d-flex > .prod_price .prod_price_flex table{margin-bottom: 16px;}
.superpack_product .d-flex > .prod_price .cennik{margin:0;padding:0 0 0;}
.superpack_product .d-flex > .prod_price .cennik span{display:block;line-height:1.1;margin:0;padding:0;text-shadow:none;text-transform:none;}
.superpack_product .d-flex > .prod_price .cennik span.regular-price{color:#232323;font-size:15px;font-weight:400;margin-bottom:-2px;text-decoration:line-through;}
.superpack_product .d-flex > .prod_price .cennik span.price{color:#232323;font-size:36px;font-weight:700;padding:1px 0;}
.superpack_product .d-flex > .prod_price .cennik span.discount-price{background:#ed1c24;border:0;color:#ffffff;display:inline-block;font-size:12px;line-height:18px;font-weight:700;padding:0 5px;}
.superpack_product .d-flex > .prod_price form{margin:0;padding:0;}
.superpack_product .d-flex > .prod_price form .btn{box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;}
.superpack_product .d-flex > .prod_packs{padding:20px 25px 14px;}
.superpack_product .d-flex > .prod_packs .packs_flex{align-items:start-flex;display:flex;flex-wrap:wrap;margin:0 -15px;}
.superpack_product .d-flex > .prod_packs .packs_flex .prod_packs_item{flex:0 0 50%;margin:0;max-width:50%;padding:0 15px 15.25px;text-align:center;}
.superpack_product .d-flex > .prod_packs .packs_flex .prod_packs_item .pack-image{margin:0 0 12px;padding:0;position:relative;}
.superpack_product .d-flex > .prod_packs .packs_flex .prod_packs_item img{border:0;display:block;height:auto;margin:0;max-width:100%;}
.superpack_product .d-flex > .prod_packs .packs_flex .prod_packs_item .pack-description{margin:0;padding:0;}
.superpack_product .d-flex > .prod_packs .packs_flex .prod_packs_item h5{color:#232323;font-size:14px;font-weight:400;line-height:17px;margin:0;min-height:34px;padding:0;text-shadow:none;text-transform:none;}
.superpack_product .d-flex > .prod_packs .packs_flex .prod_packs_item h5 a{border:0!important;color:inherit;outline:none!important;text-decoration:none!important;}
.superpack_product .d-flex > .prod_packs .packs_flex .prod_packs_item h5 a:hover{color:#2fb5d2;cursor:pointer;}
.superpack_product .d-flex > .prod_packs .packs_flex .prod_packs_item + .prod_packs_item .pack-image:before{background:linear-gradient(#000000,#000000),linear-gradient(#000000,#000000);background-position:center;background-repeat:no-repeat;background-size:100% 2px,2px 100%;bottom:0;content:"";display:block;height:16px;left:-23px;margin:auto 0;position:absolute;top:0;width:16px;}
.superpack_product .d-flex > .prod_packs .packs_flex .prod_packs_item:nth-child(2n+1) .pack-image:before{display:none;}
/* CART */
.superpack_product.setscart{padding-left:15px;padding-right:15px;}
.superpack_product.setscart .d-flex > .prod_price h5{font-size:16px;padding-bottom:13px;}
.superpack_product.setscart .d-flex > .prod_price .cennik{padding-bottom:0;}
.superpack_product.setscart .d-flex > .prod_price .cennik span.price{margin-top:-4px;}
.superpack_product.setscart .d-flex > .prod_price .cennik span.price{font-size:29px;padding:0;}
.superpack_product.setscart .d-flex > .prod_packs .packs_flex .prod_packs_item .pack-image{margin-bottom:2px;}
.superpack_product.setscart .d-flex > .prod_packs .packs_flex .prod_packs_item h5{font-size:12px;letter-spacing:-0.04em;line-height:15px;min-height:30px;}
/* RWD */
@media (min-width:768px){
	.superpack_product .d-flex{flex-wrap:nowrap;}
	.superpack_product .d-flex > *{flex:auto;}
	.superpack_product .d-flex > .prod_price{border-left:1px solid #ebebeb;border-top:0;flex:0 0 300px;margin-left:auto;max-width:300px;}
	/* CART */
	.superpack_product.setscart .d-flex > .prod_price{flex:0 0 186px;max-width:186px;}
}
@media (min-width:992px){
	.superpack_product .d-flex > .prod_packs .packs_flex .prod_packs_item{flex:0 0 25%;max-width:25%;}
	.superpack_product .d-flex > .prod_packs .packs_flex .prod_packs_item:nth-child(2n+1) .pack-image:before{display:block;}
}
@media (min-width:1200px){
	.superpack_product .d-flex > .prod_packs{padding:40px 37.5px 14px;}
	.superpack_product .d-flex > .prod_packs .packs_flex{margin:0 -22.5px;}
	.superpack_product .d-flex > .prod_packs .packs_flex .prod_packs_item{padding:0 22.5px 22.5px;}
	.superpack_product .d-flex > .prod_packs .packs_flex .prod_packs_item + .prod_packs_item .pack-image:before{left:-31px;}
	/* CART */
	.superpack_product.setscart .d-flex > .prod_packs{padding:30px 30px 5.75px;}
	.superpack_product.setscart .d-flex > .prod_packs .packs_flex{margin:0 -13.5px;}
	.superpack_product.setscart .d-flex > .prod_packs .packs_flex .prod_packs_item{padding:0 13.5px 13.5px;}
	.superpack_product.setscart .d-flex > .prod_packs .packs_flex .prod_packs_item + .prod_packs_item .pack-image:before{left:-21px;}
}