.paczkomaty_result {
	text-align: left;
	padding: 0px;
	border: 1px solid black;
	background-color: #f7f6f1;
	overflow: hidden;
	z-index: 99999;
}

.paczkomaty_result ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.paczkomaty_result li {
    margin: 0px;
    padding: 2px 5px;
    cursor: default;
    display: block;
    /* width: 100%; */
    font: menu;
    line-height: 24px;
    overflow: hidden;
}
.paczkomaty_result li:before {
display: block;
    width: 19px;
    height: 27px;
    background: url(../img/paczkomat.png);
    content: ' ';
    float: left;
    margin-top: 11px;
    margin-right: 14px;
    margin-left: 10px;
    font-size: 14px;
}

.paczkomaty_odd {
	background-color: #f7f6f1;
}

.paczkomaty_over {
	background-color: #ece9e2;
	color: black;
}

.paczkomat_name {
    color: #000;
    font-weight: 600;
    display: block;
}

.widget-modal{
    position: fixed !important;
    z-index: 99999;
    background: white;
}

.pmsender {
    background-color: #F9DB4D;
    color: black;
    font-weight: 600;
    padding: 10px; 
    border: 1px solid #666;
    width: 95%;
    margin-top: 1px;

}

.widget-modal {
	z-index: 9999998;
}

.widget-modal {
	background: white;
}
.widget-modal {
	margin-left: 0px !important;
}

.easypack-widget .map-list-row .map-list-flex .list-widget {
	min-height: 240px !important;
}

.overlay_pminpost{
	display: none;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: black;
	z-index: 9999995;
	display: block;
	background: url('../img/ovarlay.png');

}

#select-widget{
    width: 100%;
 	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 100px;
}

.paczkomaty-logo{
	display: block;
	background: url('../img/paczkomat.png');
	width: 19px;
	height: 27px;
	float: right;
}

.paczkomaty-label{
    display: block;
    font-weight: bold;
    color: black;
}

.paczkomat-input{
	padding: 9px; 
	margin-top: 1px;
	width: 95%;
}
.col-50{
	width: 100%;
	float: left;
	text-align: center;
}
@media (min-width: 1024px) {
.col-100 {
	width: 100%;
	float: left;
}
.col-50{
	width: 50%;
	float: left;
	text-align: center;
}
}

.widget-modal .loading-icon-wrapper.loader-wrapper:not(.hidden) div {
    height: auto !important;
 	width: auto !important;
}