/* color:#6fc138   */
#product .laberTabs .nav-tabs .nav-link.active, 
#product .laberTabs .nav-tabs .nav-link:hover,
.product-cover .layer .zoom-in,
.scroll-box-arrows i:hover,
.block-categories .collapse-icons .add:hover, .block-categories .collapse-icons .remove:hover,
.productName a:hover,.pspc-main .seconds .count, #products .pspc-main .seconds .count,.blog_post_content p.meta_author span,
.laberProductFilter .nav-tabs .nav-item.open .nav-link, 
.laberProductFilter .nav-tabs .nav-item.open .nav-link:focus, 
.laberProductFilter .nav-tabs .nav-item.open .nav-link:hover, 
.laberProductFilter .nav-tabs .nav-link.active, 
.laberProductFilter .nav-tabs .nav-link.active:focus, 
.laberProductFilter .nav-tabs .nav-link.active:hover, 
.laberProductFilter .laberTab li.nav-item a.active, 
.laberProductFilter .laberTab li.nav-item a:hover 
.LaberProductCategory .nav-tabs .nav-item.open .nav-link, 
.LaberProductCategory .nav-tabs .nav-item.open .nav-link:focus, 
.LaberProductCategory .nav-tabs .nav-item.open .nav-link:hover, 
.LaberProductCategory .nav-tabs .nav-link.active, 
.LaberProductCategory .nav-tabs .nav-link.active:focus, 
.LaberProductCategory .nav-tabs .nav-link.active:hover, 
.LaberProductCategory .laberTab li.nav-item a.active, 
.LaberProductCategory .laberTab li.nav-item a:hover,
.laberthemes .owl-buttons .owl-prev:hover, 
.laberthemes .owl-buttons .owl-next:hover,
.labCategoryFeature .item .categoryName a:hover,
.labCategoryFeature .item .shopnow:hover,
#header .lab-menu-horizontal ul li.level-1:hover > a,
#header .lab-menu-horizontal ul li.level-1 ul li a:hover,
#header .currency-selector-wrapper ul li a:hover, 
#header .language-selector-wrapper ul li a:hover, 
#header .currency-selector-wrapper ul li.current a, 
#header .language-selector-wrapper ul li.current a,
a:hover, #header a:hover, .dropdown:hover .expand-more
{
	color:#6fc138 ;
}

/* background-color:#6fc138 */
.nivo-controlNav a:hover,.pagination a:not(.previous):not(.next):hover, .pagination .page-list li.current a,
#header .laber-cart .cart_block .cart-buttons a:hover,
.btn-primary.focus, .btn-primary:focus, .btn-primary:hover,
.block_newsletter form input[type="submit"]:hover,
#newsletter_block_popup .block_content .send-reqest,
#product .laberTabs .nav-tabs .nav-link::before,
.quickview .social-sharing li a:hover, .laberProduct .social-sharing li a:hover,
.products-sort-order .select-list:hover,
.laberProductList .laberCart .laberBottom:hover, .laberProductList .laberItem a:hover,
.laberGridList li a:hover, .active_list .laberGridList li#list a, .active_grid .laberGridList li#grid a,
.mypresta_scrollup:hover,
.laberActions .laberCart .laberBottom:hover, .laberActions .laberItem a:hover,
.item-inner .item .laberProduct-flags li.laber-new span,
.laberProductFilter .laberTab li a:before, 
.LaberProductCategory .tab_cates li a:before,
.nivo-controlNav a.active,
.lab-nivoSlideshow .nivo-prevNav:hover, 
.lab-nivoSlideshow .nivo-nextNav:hover
{
	background-color:#6fc138
}
/* border-color:#6fc138 */
.laberProductList .laberCart .laberBottom,
.nivo-controlNav a:hover,
#header .laber-cart .cart_block .cart-buttons a:hover,
.block_newsletter form input[type="submit"]:hover,
.quickview .social-sharing li a:hover, .laberProduct .social-sharing li a:hover,
#product-modal .modal-content .modal-body .product-images img:hover, 
.product-images > li.thumb-container > .thumb.selected, 
.product-images > li.thumb-container > .thumb:hover,
.laberProductList .laberCart .laberBottom:hover, .laberProductList .laberItem a:hover,
.block_newsletter form input[type="email"]:focus,
.pspc-main .time,
.nivo-controlNav a.active
{
	border-color:#6fc138
}

.se-pre-con span{
	border-left: 2px solid #6fc138;
}

.form-control:focus, .input-group.focus {
    outline: 1px solid #6fc138;
}
