#products .psproductcountdown .count.curr, #products .psproductcountdown .count.bottom,
.psproductcountdown .count.curr, .psproductcountdown .count.bottom {
    display: none;
}
.psproductcountdown .hidden {
    display: none;
}

#product .psproductcountdown {
    width: 280px;
    padding: 10px 0 0 0;
    text-align: center;
    background: rgba(255,255,255,0.5);
    box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.product-miniature .psproductcountdown {
}
.titlecountdown{}
.titlecountdown h4{
	font-size:14px;
	color:#333e48;
	font-weight:500;
	margin-bottom:30px;
}
.psproductcountdown {
    padding-bottom: 0;
}

.pspc-main .time {
    margin: 0;
    display: inline-block;
    text-align: left;
    position: relative;
    border: 2px solid #7ab532;
	padding: 5px;
	margin-right: 15px;
	width: 75px;
	height: 90px;
	border-radius:2px;
	background-color:#fff;
}
.pspc-main .time:last-child{
	margin-right:0;
}
#products .pspc-main .count,
.pspc-main .count {
	color:#242424;
	display: block;
	font-size: 18px;
	line-height: 22px;
	overflow: hidden;
	text-align: center;
	width: 100%;
	font-weight: 500;
	position: static;
	margin-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid#ededed;
	padding-bottom: 10px;
}
.pspc-main .seconds .count,
#products .pspc-main .seconds .count {
    color:#7ab532;
}
.pspc-main .label {
	font-size: 13px;
	display: block;
	width: 100%;
	color:#949494;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 1;
}

@media only screen and (min-width : 992px) and (max-width : 1199px){
}
@media only screen and (min-width : 768px) and (max-width : 991px){
	
}
@media only screen and (max-width : 767px){
	.pspc-main .time{
		margin-right:5px;
	}
}
@media only screen and (max-width : 480px){
	.pspc-main .time{
		width:65px;
	}
}