.ruch-widget-map-container-full-screen {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.3);
    width: 100%;
    height: 100%;
    z-index: 9999999;
}

.ruch-widget-map-wrapper-full-screen {
    position: relative;
    background: #fff;
    width: 80%;
    margin: auto;
    top: 10%;
}

.ruch-widget-display-none {
    display: none;
}

.ruch-widget-margin-top {
    margin-top: 10px;
}
.ruch-widget-empty-container {}

#ruchWidgetButtonContainer {
    width: 100%;
    text-align: left;
    padding: 10px;
}

#ruchWidgetButtonContainer button {
    color: #fff!important;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 400;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #0c1741;
    height: 26px;
    line-height: 26px;
    padding: 0 5px;
    background: #000;
    overflow: hidden;
    text-align: center;
}

@media (max-width: 1199px) {
    .ruch-widget-map-wrapper-full-screen {
        padding: 15px;
    }
}
