.cross_sell_products_checkbox .form-control-label,
.cross_sell_products_checkbox .form-control-comment {
  display: none;
}

.cross_sell_products_checkbox .form-group div:not(.form-control-label):not(.form-control-comment) {
  width: 100%;
}

.cart-item .xsell-product-image {
  display: block;
  width: 60%;
  float: right;
  height: 20px;
  border-left: 1px dashed #000;
  border-bottom: 1px dashed #000;
}
