
            @media (max-width: 670px) {
                #pdpopupspro, #pdpopupspro-overlay{
                    display: none !important;
                }
            }
            @media (max-height: 470px) {
                #pdpopupspro, #pdpopupspro-overlay{
                    display: none !important;
                }
            }   
        #pdpopupspro {
            width: 650px;
    
        }

        #pdpopupspro .pdpopupspro-content {
            height: inherit;
            min-height: 298px;
            color: #333333;
            background-color: #ffffff;
            background-image: url(https://studiomocy.com/img/cms/news.png) !important;
            background-repeat: no-repeat !important;
        }

        @media (max-width: 570px) {
            #pdpopupspro .pdpopupspro-content { height:200px;}

            #pdpopupspro .promo-text > p {margin: 0 auto!important;}

            #pdpopupspro .pdpopupspro-newsletter-form .promo-text h2 {
                font-size: 21px;
                font-family: Helvetica;
                line-height: 25px;
                letter-spacing: 0px;
                font-weight: 300;
            }
        }



        #pdpopupspro .pdpopupspro-newsletter-form {
            min-height: 140px;
            color: #ffffff;
            background-color: #3F3F3F; 
            background-image: url() !important;
            background-repeat: no-repeat !important;
        }

        #pdpopupspro .pdpopupspro-newsletter-form .newsletter-input {
            color: #ffffff;
            background-color: #3C3C3C; 
        }

        #pdpopupspro .pdpopupspro-newsletter-form .newsletter-inputl:-moz-placeholder {
            color: #ffffff !important;
        }
        #pdpopupspro .pdpopupspro-newsletter-form .newsletter-input::-moz-placeholder {
            color: #ffffff !important;
        }
        #pdpopupspro .pdpopupspro-newsletter-form .newsletter-input:-ms-input-placeholder {
            color: #ffffff !important;
        }
        #pdpopupspro .pdpopupspro-newsletter-form .newsletter-input::-webkit-input-placeholder {
            color: #ffffff !important; 
        }


        