<<<<<<< HEAD
#conditions .form-group[data-tab-id="conditions"] > label {
    width: 40%;
}

#conditions .form-group[data-tab-id="conditions"] > div {
    width: 60%;
}

ul#product_list,
ul#condition_product_list {
    list-style: none;
    /*overflow-y: auto;*/
    /*max-height: 200px;*/
    /*cursor: pointer;*/
}

/*ul#product_list li,*/
/*ul#condition_product_list li {*/
/*    background: #ffffff;*/
/*    margin: 5px 0;*/
/*    border: 1px solid #dfdfdf;*/
/*    padding: 8px;*/
/*    border-radius: 8px;*/
/*}*/
=======
#conditions .form-group[data-tab-id="conditions"] > .col-lg-3 {
    width: 30%;
}

#conditions .form-group[data-tab-id="conditions"] > .col-lg-offset-3 {
    margin-left: 30%;
}

#conditions .form-group[data-tab-id="conditions"] > .col-lg-9 {
    width: 70%;
}

.condition-legend-label {
    color: #fff;
    background: #00aff0;
    padding: 5px;
    font-weight: 400;
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 15px 0 0;
}

.filter-blur {
    filter: blur(1px);
}

#pshowupsell-js-loader {
    position: absolute;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 5%;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
>>>>>>> master
