.std {
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #999999;
    border-bottom: none;
    background: white;
    border-collapse: inherit;
}

table.std th, table.table_block th {
    padding: 14px 12px;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 black;
    background: #999999;
}

table.std td, table.table_block td {
    padding: 12px;
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    font-size: 12px;
    vertical-align: top;
}