#mycompare table{

}
#mycompare .alert{
	margin-bottom:0;	
}
#moda_compare .modal-dialog {
	max-width:100%;
    width: 1210px;
}
#mycompare .table-container{
	overflow-x:auto;	
}
#moda_compare .success {
	color:	#32cd32;
}
#moda_compare .warning {
	color:	#ff8c00;
}
#moda_compare .error {
	color:	#ff0000;
}
.comparison_header p:last-child{
	margin-bottom:0;
}
#mycompare table th,#mycompare table td {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ebebeb;
    font-weight: normal;
    padding: 10px 15px;
	width:230px;
}
#mycompare table .comparison_header td:first-child{
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}
#mycompare table td .star_content{
	font-size:0;	
}
#mycompare table td.comparison_infos{
	text-align:center;	
	vertical-align:top;
}
.div.star.star_on,.star{
	display:inline-block !important;
	float:none !important;	
}
.item-inner-compare{
	position:relative;
	max-width:270px;
	margin:0 auto;
}
.remove_to_compare{
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 0;
}
#mycompare .product_name a {
    float: left;
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
    width: 100%;
	line-height:20px;
}
.item-inner-compare .left-product-compare{
	border-bottom:1px solid #ebebeb;	
	padding-bottom:15px;
}
.item-inner-compare .left-product-compare img{
	max-width:100%;
	height:auto;	
}
#mycompare .product-price-and-shipping {
    float: left;
    margin: 10px 0 15px;
    width: 100%;
}
#mycompare .product-price-and-shipping .regular-price{
	margin-left:10px;	
	font-weight:700;
}
#mycompare .description-short p{
    float: left;
    font-size: 13px;
    line-height: 22px;
    margin: 0 0 10px;
    text-align: center;
    width: 100%;
}	
.comment_compare.btn{
	text-transform:capitalize;
}
#mycompare table td.comparison_infos.comparison_feature_even .comment_wrap{
	position:relative;	
}
#mycompare table td.comparison_infos.comparison_feature_even .comment_wrap > div{
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ebebeb;
    left: 50%;
    margin-bottom: 10px;
    position: absolute;
    bottom: 100%;
    transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	min-width:200px;
	box-shadow:1px 5px 10px rgba(0, 0, 0, 0.35);
	z-index:2;
}
#mycompare table td.comparison_infos.comparison_feature_even .comment_wrap > div:before{
	border: 1px solid #ebebeb;
	border-bottom: none;
	border-right: none;
	background: #fff;
	content: "";
	height: 15px;
	left: 50%;
	margin-left: -5px;
	position: absolute;
	bottom: -8px;
	transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	width: 15px;
}
#mycompare table td.comparison_infos.comparison_feature_even .comment_wrap > div .comment{
	padding:15px;
	border-bottom:1px solid #ebebeb;
}
#mycompare table td.comparison_infos.comparison_feature_even .comment_wrap > div .comment:last-child{
	border:none;	
}
#mycompare table td.comparison_infos.comparison_feature_even .comment_wrap > div .comment > div{
	line-height:20px;	
}


.laber_Popup{
    top: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:rgb(0, 0, 0, .3);
	opacity: 0;
}
.laber_Popup.active{
	position: fixed;
	z-index: 99999;
	top:0;
	opacity: 1;


}
#laber_add_to_compare{
	background: #fff;
	box-shadow: 0 1px 12px rgba(0, 0, 0, 0.3);
    width: 350px;
    margin: 0 auto;
    border-radius: 3px;
	padding: 20px;
	position: relative;
	display:none;
}
#laber_add_to_compare .loader_content{
	display: none;
}
#laber_add_to_compare.loader.active,
#laber_add_to_compare.loader.active .loader_content{
	display:block;
}
#laber_add_to_compare.loader .loadCompare {
    display: none;
}
#laber_add_to_compare .loadCompare i{
	position: static;
}
.loader_content .compare_add_success h4 {

    background: #222;
    color: #fff;
    line-height: 20px;
    padding: 5px 15px;
    position: relative;
    width: 100%;
    overflow: hidden;
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 14px;

}
.loader_content .thumbnail-container {

    float: left;
    display: inline;
    margin-right: 15px;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
    width: 100px;

}
.loader_content .thumbnail-container img{
	width: 100%;
}
.loader_content  h2.nameProduct {

    margin-bottom: 10px;

}
.loader_content  h2.nameProduct a {
    font-size: 14px;
    text-decoration: none;
    font-weight: 400;
}
.loader_content .laber_button a {

    border-radius: 3px;
    color: #333e48;
    display: inline-block;
    font-size: 14px;
    line-height: 38px;
    padding: 0px 15px;
    border: 1px solid #e8ecef;
    background: #f2f5f7;

}
.loader_content .laber_button a:hover {

    background: #222;
    border-color: #222;
    color: #fff;
}
a.button-action .addCompare,
a.button-action .removeCompare{display:none;}
a.js-compare-add .addCompare{display:inline-block;}
a.js-compare-remove .removeCompare{display:inline-block;}



#moda_compare .modal-header {

	padding: 15px;
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 15px;

}
#moda_compare  .modal-header .close {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 999;
	opacity: 1;
	width: 30px;
	height: 30px;
	font-size: 24px;
	line-height: 30px;
	border-radius: 100%;

}
#moda_compare  .remove_to_compare {

    font-size: 14px;
    position: absolute;
    right: -10px;
    top: -10px;
    background: #222;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    color: #fff;
    line-height: 23px;
}
#moda_compare .remove_to_compare:hover{
	background: #cc1414;
}
#mycompare .compare-table-actions{
	margin-bottom:15px;
}
#mycompare .compare-table-actions a:hover{
	color: #cc1414;
}
#mycompare .button-action-product .btn {
	height: 40px;
	padding: 0 20px;
	background: #222;
	border: 1px solid #222;
	border-radius: 2px;
	color:#fff;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 12px;
	cursor: pointer;
	width: 100%;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
#mycompare .button-action-product .btn:hover{
	border-color:#7ab532;
	background-color:#7ab532;
}

#laber_add_to_compare.alert_error h4.error {
    background: #f2dede;
    color: #e17875;
    font-weight: 500;
    padding: 10px 15px;
	line-height:30px;
}
#laber_add_to_compare.alert_error  a.js-show-modal-compare{

    color: #fff;
    display: inline-block;
    font-size: 14px;
    line-height: 35px;
    padding: 0px 15px;
    border: 1px solid #fe3060;
    background: #fe3060;

}

