#products .psproductcountdown .count.curr, #products .psproductcountdown .count.bottom,
.psproductcountdown .count.curr, .psproductcountdown .count.bottom {
    display: none;
}
.psproductcountdown .hidden {
    display: none;
}

#product .psproductcountdown {
    width: 280px;
    padding: 10px 0 0 0;
    text-align: center;
    background: rgba(255,255,255,0.5);
    box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.product-miniature .psproductcountdown {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 135px;
    background: rgba(255, 255, 255, 0.8);
    padding-top: 7px;
    padding-bottom: 2px;
}

.psproductcountdown {
    padding-bottom: 5px;
}

.pspc-main .time {
    margin: 0 2px 1.3em 2px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    position: relative;
    height: 70px;
    width: 18%;
    max-width: 4em;
}
#products .pspc-main .count,
.pspc-main .count {
    background: rgba(214, 214, 214, 0.5);
    color: #333333;
    display: block;
    font-family: 'Arial', sans-serif;
    font-size: 2em;
    line-height: 2.6em;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    box-shadow: 0 0 15px #fff;
    font-weight: normal;
}
.pspc-main .seconds .count,
#products .pspc-main .seconds .count {
    color: #f13340;
}
.pspc-main .label {
    font-size: 1em;
    margin-top: 5px;
    display: block;
    position: absolute;
    top: 5.3em;
    width: 100%;
    color: #202020;
    padding: 0;
    font-weight: normal;
    text-align: center;
}

@media (max-width: 1199px) {
    .pspc-main .count {
        font-size: 1.5em;
    }
    .pspc-main .time {
        /*width: 36px;*/
        margin-bottom: 20px;
    }
    .pspc-main .label {
        top: 45px;
    }
}