/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */
@media only screen and (min-width : 992px) and (max-width : 1199px){
	
	#header .header-top .container{
		padding: 0 15px;
	}
	.laberSpecialProducts{
		background: #fff;
	}
	.ipadProFull{
		width:100%;
	}
	.block_newsletter form input[type="email"]{
		margin-bottom:15px;
	}
	.block_newsletter form input[type="submit"]{
		position: static;
	}
	.laberFooter-bottom .container{
		padding: 30px 15px;
	}
	.laberthemes:hover .owl-buttons .owl-prev{left:0;}
	.laberthemes:hover .owl-buttons .owl-next{right:0;}
	.mypresta_scrollup.open{bottom: 90px;}
}
@media only screen and (min-width : 768px) and (max-width : 991px){
	.laberFooter-center,
	.displayPosition4, .displayPosition2,.displayPosition3 {
		padding: 30px 0;
	}
	#header .header-top .container{
		padding: 0 15px;
	}
	.laberFooter-center .block_newsletter {
		margin-bottom: 30px;
	}
	.laberFooter-bottom .container{padding: 30px 15px;}
	.laberthemes:hover .owl-buttons .owl-prev{left:0;}
	.laberthemes:hover .owl-buttons .owl-next{right:0;}
	.mypresta_scrollup.open{bottom: 90px;}
	
	/*  */
	#laber-products-top .products-selection{
		width:100%;
		padding-top: 15px;
	}
	.laberProductList .actions .laberCart {
		float: left;
		display: inline;
		min-width: 212px;
		margin-bottom: 10px;
	}
}
@media only screen and (max-width : 767px){
	#header .header-nav{max-height: inherit;background-color:#fff;}
	#header .header-top .container{
		padding: 0 15px;
	}
	#mobile_top_menu_wrapper{
		padding:0;
	}
	.displayPosition4, .displayPosition2,.displayPosition3 {
		padding: 30px 0;
	}
	.laberSpecialProducts{background: #fff;}
	.laberStatic.displayGrid{
		grid-template-columns: repeat(3,1fr);
		grid-template-rows: repeat(2,1fr);
	}
	.laberthemes:hover .owl-buttons .owl-prev{left:0;}
	.laberthemes:hover .owl-buttons .owl-next{right:0;}
	.mypresta_scrollup.open{display:none;}
	.laberFooter-center{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.block_newsletter {
		padding-bottom: 0;
		border-bottom: none;
	}
	.links .title{
		padding: 0;
		border-bottom: 1px solid #ebebeb;
	}
	.links .title span.h3{
		line-height: 40px;
		display: block;
		padding-right: 40px;
		margin: 0;
	}
	.links .title .float-xs-right{
		position: absolute;
		top: 0;
		right: 0;
	}
	.links .title .float-xs-right .material-icons{
		width: 40px;
		height: 40px;
		line-height: 40px;
	}
	.links .collapse.in{
		padding: 15px 0;
	}
	.laberFooter-bottom{
		padding-bottom:15px;
	}
	.laberFooter-bottom .container{
		padding: 0 15px;
	}
	#laberSocialBlock,
	.copyright{
		text-align:center;
	}
	#header .header-nav .blockcart{
		height: auto;
		padding: 0;
		margin-left: 0;
	}
	.laberSetting .icon-setting,
	#header .laber-cart a span.icon .icon_cart,
	#header .laber-cart a.cart,
	#header .laberwishtlistTop a.wishtlist_top,
	#header .laberwishtlistTop .icon_wishtlist,
	.laberUserInfo .laberUser p.nameuser .icon_user{
		height: 50px;
		line-height: 50px;
	}
	#header .header-nav .user-info{
		margin: 0;
	}
	.laberUserInfo .laber-user-info{
		top: 50px;
		right: -100%;
	}
	.laberSetting{
		padding-right: 15px;
	}
	.laberUserInfo .laberUser p.nameuser a.account,
	.laberUserInfo .laberUser p.nameuser span{
		display: none;
	}
	#header .laberwishtlistTop a.wishtlist_top .cart-wishlist-number,
	#header .laber-cart a .cart-products-count{top: 0px;}
	.laberUserInfo .laberUser p.nameuser .icon_user{margin-right: 5px;}
	
	#header .header-nav .top-logo {
		padding-top: 15px;
		border-top: 1px solid #ebebeb;
		padding-bottom: 15px;
		text-align: center;
	}
	#header .header-nav .top-logo .h1,
	#header .header-nav .top-logo h1{
		display:inline-block;
		margin:0;
	}
	#header .header-nav #menu-icon{
		margin: 0 15px;
	}
	.laberActions{
		opacity: 1;
	}
	/*  */
	#category #left-column,
	#category #content-wrapper {
		width: 100%;
		padding: 0 15px !important;
	}
	#laber-products-top .products-selection{
		width: 100%;
		padding-top: 15px;
	}
	.products-sort-order .dropdown-menu{
		left: 15px;
		right: inherit;
	}
	#category #search_filter_toggler{
		padding: 0 15px;
		min-width: auto;
		line-height: 35px;
	}
	#products .laberProducts.laberProductGrid{
		display:block;
	}	
	#products .laberProducts.laberProductList,
	#laber-products-top .laberGridList {
		display: none;
	}
	#category #left-column #search_filters .facet{
		margin-bottom: 0;
	}
	
	/*  */
	.laberProduct .images-container{
		margin-bottom: 30px;
	}
	.laberSpecialProducts .laber-product-description{padding: 20px;}
	.laberProductGrid .item .laber-product-description{padding: 15px;}
}
@media only screen and (max-width : 480px){
	.product-images > li.thumb-container > .thumb{
		width: 84px;
	}
	.scroll-box-arrows i{
		height: 84px;
		line-height: 84px;
	}
}
.page-cms img {
	height:auto!important;
}