*.xml
translations/*
!translations/index.php
!translations/en.php
!translations/fr.php
!translations/es.php
!translations/it.php
!translations/de.php
!translations/pl.php
!translations/cs.php
!translations/pt.php
!translations/nl.php
!translations/ru.php
.bash_profile
.bashrc
.git-credentials
.gitconfig
.bash_history
.idea